* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 10.25rem;
    width: 10.25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background-color: #081b31;
    cursor: pointer;
}

img {
    height: 9.4rem;
    width: 9.4rem;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4.5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 2rem;
    margin-top: 3rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 3rem;
}

#msg {
    font-size: 2rem;
    background-color: #081b31;
    color: #fff;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}